html, body {
    margin: 0;
    padding: 0;
    background-color: #111111;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #430000;
    user-select: none;
}

#lista-de-compras {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 320px;
    margin: 30px auto;
}

#delete-all {
    background-color: #AC485A;
    padding: 15px;
    border: 10px;
    border-radius: 8px;
    font-size: 10px;
    color: #350000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #570000;
    padding: 0.5rem;
    border-radius: 8px;
    flex-grow: 1;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

#delete-all:hover {
    background-color: #3f0000;
    color: #ffffff;
    cursor: pointer;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    background-color: #DCE1EB;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    color: #432000;
    text-align: center;
    margin: 10px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background-color: #53111d;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    color: #FDFDFD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    gap: 10px;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    background-color: #0c0c0c;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.error{
    border: 1px solid rgb(146, 0, 0);
}

button {
    background-color: #1f279e;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    color: #FDFDFD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: #140e6e;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    color: rgb(41, 41, 41);
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}
